<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625725332911-evp40a75c4pjt14ourricdkqp1rhau2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625725332911-evp40a75c4pjt14ourricdkqp1rhau2q</string>
	<key>API_KEY</key>
	<string>AIzaSyAXef8ol6lT6H8DxpAomCmAs8ve_kGpBiU</string>
	<key>GCM_SENDER_ID</key>
	<string>625725332911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>learn-flutter-chat-4f44d</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-flutter-chat-4f44d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625725332911:ios:990bef43e8ade900d1e35a</string>
	<key>DATABASE_URL</key>
	<string>https://learn-flutter-chat-4f44d.firebaseio.com</string>
</dict>
</plist>